.NavigationItems {
  flex: 1;
  padding-top: 7.5vh;
  padding-left: 10vw;
  list-style: none;

  display: grid;
  grid-template-rows: repeat(3, 5rem);
  grid-template-columns: repeat(2, minmax(5rem, min-content));
  column-gap: 0.8vw;
  row-gap: 7.5vh;
}
