.SlideCard {
  position: relative;

  border-radius: 1rem;
  margin: auto 1.5rem;

  width: 13.5rem;

  border: solid 0.1rem var(--border-color, black);

  & img {
    display: block;

    height: auto;
    width: 100%;
  }
}
