@import '../../../sass/abstracts/variables';

.Sidebar {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 0;
  width: 15rem;
  height: 100vh;
  position: fixed;
  // background-color: #000;
}
