@import '../../../../sass/main.scss';

.SNS {
  flex: 1;
  align-self: flex-end;

  display: flex;
  justify-content: space-between;
  width: 40%;

  list-style: none;

  & a {
    text-decoration: none;
    color: $color-primary-grey;
    font-weight: bold;
  }
}
