@mixin burger-button-line($background-color) {
  margin-top: 0.5rem;
  margin-left: 3rem;
  padding: 0 0.2rem;
  position: absolute;
  width: 1.3rem;
  height: 0.12rem;
  background: $background-color;
  box-shadow: 0 0.2rem 0.5rem rgba(255, 101, 47, 0.2); //bad performance
  transition: all 0.5s ease-in-out;

  &::before,
  &::after {
    content: '';
    position: absolute;
    padding: 0 0.2rem;
    width: 1.3rem;
    height: 0.12rem;
    background: $color-white-default;
    box-shadow: 0 0.2rem 0.5rem rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
}

@mixin small-bold-grey-text() {
  color: $color-primary-grey;
  font-weight: bold;
  font-size: 0.5rem;
}
