@import '../../../../sass/main.scss';

.Info {
  flex: 1; //grow | shrink | basis
  margin: 0 auto;
  padding: 4vh;
  padding-left: 10vh;
  display: flex;
  flex-flow: column;
  text-align: left;
  white-space: nowrap;

  & p {
    @include small-bold-color-text($color-grey-light-1);
  }
}
