@import '../../../../sass/main.scss';

.Info {
  flex: 1; //grow | shrink | basis
  margin-top: 3.5vh;
  padding-left: 3.5rem;
  display: flex;
  flex-flow: column;
  text-align: left;
  & p {
    @include small-bold-grey-text;
  }
}
