@import '../../sass/abstracts/variables';
@import '../../sass//abstracts/mixins';

.Menu {
  top: 1rem;
  right: 10rem;
  position: absolute;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &__buttonOpen {
    @include burger-button-line($color-white-default);

    &::before {
      transform: translate(-0.65rem, -0.3rem);
    }

    &::after {
      transform: translate(-0.65rem, 0.3rem);
    }
  }

  &__buttonClose {
    @include burger-button-line(transparent);

    &::before {
      background: $color-white-default;
      transform: translateX(-0.6rem) rotate(45deg);
    }

    &::after {
      background: $color-white-default;
      transform: translateX(-0.6rem) rotate(-45deg);
    }
  }
}
