@import '../../sass/abstracts/variables';
@import '../../sass//abstracts/mixins';

.Menu {
  z-index: 400;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &__buttonOpen {
    @include burger-button-line($color-white-default);

    &::before {
      transform: translate(-0.65rem, -0.3rem);
    }

    &::after {
      transform: translate(-0.65rem, 0.3rem);
    }
  }

  &__buttonClose {
    @include burger-button-line(transparent);

    &::before {
      background: $color-black-default;
      transform: translateX(-0.6rem) rotate(45deg);
    }

    &::after {
      background: $color-black-default;
      transform: translateX(-0.6rem) rotate(-45deg);
    }
  }

  &__text {
    flex: 1;
    margin-top: 0.5rem;
    margin-left: 12rem;
    color: $color-white-default;
    font-size: 1.2rem;
    font-family: 'JetBrains Mono';
    font-weight: 300;
  }
}
