@import '../../../sass/main';

.GallerySection {
  @include set-section-cover-above(#1a1a1d);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;

  &__cards {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__above {
    z-index: 2;
    position: relative;
    background: #6f2232;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    min-height: 90vh;
    min-width: 85vw;

    box-shadow: 0 2rem 0 -1.3rem rgba(255, 255, 255, 0.9);
  }
}
