@import '../../../sass/main';

.GallerySection {
  @include set-section-cover-above(var(--color-primary));

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;

  &__above {
    z-index: 2;
    position: relative;

    background: #002642;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    min-height: 90vh;
    min-width: 85vw;

    box-shadow: 0 2rem 0 -1.3rem var(--beige);
  }

  &__cards {
    margin-top: 4rem;
    flex: 1;

    display: flex;
    justify-content: space-evenly;
  }
}
