@import '../../../sass/main.scss';

.About {
  flex: 1;

  display: flex;
  flex-flow: column;

  position: absolute;
  width: 50%;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);

  color: $color-white-default;
  font-size: 1.1rem;
  font-family: 'JetBrains Mono';
  font-weight: 100;
  white-space: nowrap;

  & h4 {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }

  & h2,
  h4 {
    text-align: left;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
  }

  & p {
    margin-bottom: 1rem;
  }

  & a[href='/'] {
    color: #ca8fc7;
    margin-bottom: 5rem;
  }

  & p,
  a {
    font-size: 0.55rem;
  }
}
