@import '../../../sass/main.scss';

.About {
  flex: 1;

  display: flex;
  flex-flow: column;

  position: absolute;
  z-index: 1;
  height: 30vh;
  width: 65vw;
  top: 75%;
  left: 60%;
  transform: translate(-50%, -50%);

  color: $color-white-default;
  font-size: 1.1rem;
  font-family: 'JetBrains Mono';
  font-weight: 100;
  white-space: nowrap;

  & h4 {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }

  & h2,
  h4 {
    text-align: left;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }

  & p {
    margin-bottom: 0.5rem;
  }

  & a[href='/'] {
    color: #ca8fc7;
    margin-bottom: 5rem;
  }

  & p,
  a {
    @include small-bold-grey-text;
  }

  &__logo {
    position: absolute;
    top: 7vh;
    left: 88vw;

    width: 4.5rem;
    height: 4.5rem;

    & img {
      max-width: 100%;
      height: auto;
    }
  }
}
