.VideoCard {
  border: solid 0.1rem #fff;
  border-radius: 0.8rem;

  width: 20rem;
  height: 20rem;

  & video {
    height: auto;
    width: 100%;
    border-radius: inherit;
  }

  & img {
    height: auto;
    width: 100%;
    border-radius: inherit;
  }
}
