@import '../../../sass/main';

.ShopSection {
  @include set-section-cover-above(#1a1a1d);

  display: flex;
  justify-content: space-around;
  align-items: center;

  &__info {
    width: 20rem;
    height: 25rem;
    color: #fff;

    & h4 {
      margin-top: 2rem;
    }

    & p {
      margin-top: 5rem;
    }

    & a {
      display: block;

      font-family: 'JetBrains Mono', cursive;
      align-self: flex-start;
      font-size: 0.7rem;
    }
  }

  &__slider {
    width: 30rem;
    height: 10rem;

    & img {
      list-style: none;
      height: auto;
      width: 100%;
    }
  }
}
