@use '../../sass/base' as *;
@use '../../sass/abstracts' as *;

.GradientBorderButton {
  position: relative;
  line-height: 2rem;

  width: 9rem;
  height: 2.3rem;

  background: #fff;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-align: center;
  border-radius: 2rem;

  z-index: 3;

  & span {
    position: absolute;
    display: block;
    top: 0.1rem;
    left: 0.1rem;
    right: 0.1rem;
    bottom: 0.1rem;
    text-align: center;
    background: var(--color-primary);
    border-radius: 1.8rem;
    transition: all 0.5s;
    z-index: 1;
    color: rgba(255, 255, 255, 0.9);
  }

  &:hover span {
    color: rgba(255, 255, 255, 1);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
      #ff7a18,
      #af002d 41.07%,
      #319197 76.05%,
      #ff7a18,
      #af002d 41.07%,
      #319197 76.05%
    );
    background-size: 200%;
    opacity: 0;
    border-radius: 1.8rem;
    transition: 0.5s;
    animation: animate 10s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
      #ff7a18,
      #af002d 41.07%,
      #319197 76.05%,
      #ff7a18,
      #af002d 41.07%,
      #319197 76.05%
    );
    // background: linear-gradient(
    //   45deg,
    //   #fb0094,
    //   #00f,
    //   #0f0,
    //   #ff0,
    //   #fb0094,
    //   #00f,
    //   #0f0,
    //   #ff0
    // );
    background-size: 400%;
    opacity: 0;
    border-radius: 1.8rem;
    filter: blur(1rem);
    transition: 0.5s;

    animation: animate 10s linear infinite;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }

  @keyframes animate {
    0% {
      background-position: 0 0;
    }
    30% {
      background-position: 100% 0;
    }
    50% {
      background-position: 250% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}
