.SlideCard {
  position: relative;

  height: 22rem;
  width: 14.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-size: cover;

  border-radius: 0.8rem;

  box-shadow: 0 -0.02rem 0.02rem var(--color-black);
  & img {
    border-radius: inherit;
    // box-shadow: 0.3rem 0.3rem 0.1rem #ccc;
  }

  &__description {
    width: 14.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & p,
    a {
      text-decoration: none;
      font-size: 1rem;
      color: #fff;
    }
  }
}
