.SlideCard {
  position: relative;

  height: 22rem;
  width: 14.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-size: cover;

  border-radius: 0.8rem;

  &__description {
    width: 14.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & p,
    a {
      text-decoration: none;
      font-size: 1rem;
      color: #fff;
    }
  }
}
