@import '../../sass/main.scss';
.Modal {
  position: fixed;
  z-index: 500;
  background-color: $color-white-default;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  background-color: #000;
  // justify-content: flex-start;
  transition: all 1s;

  & li a {
    text-decoration: none;
  }
}
