@import '../../../sass/abstracts/variables';

.NavigationItem {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 6rem;

  &__link:link,
  &__link:visited {
    display: block;
    width: 3.15rem;
    height: 3.15rem;
    padding: 0;
    margin: 1rem 0;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.5s;
  }

  &__link:hover,
  &__link:active {
    transform: scale(1.1);
  }

  &__paragraph {
    color: $color-white-default;
  }
}
