@import '../../../sass/abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
.NavigationItem {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 6rem;

  &__link:link,
  &__link:visited {
    display: block;
    width: 3.15rem;
    height: 3.15rem;
    padding: 0;
    margin: 0.5rem 0;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.6s;
  }

  &__link:hover,
  &__link:active {
    transform: scale(1.1);
  }

  &__pg {
    font-family: 'Redressed', cursive;
    font-size: 0.7rem;
  }
}
