@import '../../../sass/main';

.Videos {
  @include set-section-cover-above(var(--color-secondary-purple));

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;

  &__cards {
    flex: 1;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4.5rem;
  }
}
