@import '../../sass/abstracts/variables';

.Header {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
      to right top,
      rgba($color-grey-dark-2, 0.9),
      rgba($color-grey-dark-2, 0.9)
    ),
    url(../../assets/images/header_bg.jpg);
  background-size: cover;
  text-align: center;

  &__text {
    position: relative;
    color: $color-white-default;
    font-size: 3.5rem;
    font-family: 'JetBrains Mono';
    font-weight: 100;
  }
}
