@import '../../sass/main.scss';

.Header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
      to right top,
      rgba($color-grey-dark-2, 0.85),
      rgba($color-grey-dark-2, 0.85)
    ),
    url(../../assets/images/tiny_header_bg.jpg);
  background-size: cover;
  text-align: center;
}
