@import '../../sass/main.scss';

// add liniar-gradient so the menu icon is ok visible

.Sidebar {
  position: fixed;
  z-index: 99;
  background-color: $color-white-default;
  height: 100vh;
  width: 17.5vw;
  margin: 0 auto;
  padding: 0 auto;
  bottom: 0;
  right: 0;
  background: linear-gradient(-120deg, #000, #434343);
  animation: open-menu 1s ease-in-out;
  transition: all 0.6s;

  &__close {
    animation: close-menu 3s ease-in-out;
    transition: all 3s;
  }

  & a {
    color: #fff;
    background-clip: padding-box;
    text-decoration: none;
  }

  & ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;

    height: 75vh;
    width: 20vw;

    padding-top: 33vh;
    padding-right: 7vw;
    list-style: none;
  }

  & li {
    flex: 1;
    text-align: start;
    padding: 4vmin;
  }
}
