@import '../../../sass/abstracts/variables';
@import '../../../sass//abstracts/mixins';

.Menu {
  flex: 1;
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  position: absolute;
  top: 1.5vh;
  right: 13vw;

  opacity: 0.9;

  &:hover {
    opacity: 1;
  }

  &__buttonOpen {
    @include burger-button-line($color-white-default);

    &::before {
      transform: translate(-0.25rem, -0.3rem);
    }

    &::after {
      transform: translate(-0.25rem, 0.3rem);
    }
  }

  &__buttonClose {
    @include burger-button-line(transparent);

    &::before {
      background: $color-white-default;
      transform: translateX(-0.6rem) rotate(45deg);
    }

    &::after {
      background: $color-white-default;
      transform: translateX(-0.6rem) rotate(-45deg);
    }
  }
}
