@import '../../sass/main.scss';

.Header {
  @include set-section-cover(#262626);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 2;
    color: #fff;
  }

  &__cover {
    position: absolute;
    top: 35vh;
    left: 55vw;
    height: 20rem;
    width: 30rem;
    transform: rotate(133.25deg);

    & img {
      max-width: 100%;
      height: auto;
    }
  }
}
