@import '../../sass/main.scss';

.Header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: #262626;
  background-size: cover;
  text-align: center;

  &__cover {
    position: absolute;
    top: 30vh;
    left: 50vw;
    height: 35vh;
    width: 35vw;
    transform: rotate(133.25deg);

    & img {
      max-width: 100%;
      height: auto;
    }
  }
}
