@use '../../sass/abstracts' as *;
@use '../../sass/base' as *;

.InfoCard {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding-left: 1.5rem;

  width: 14rem;
  height: 20rem;

  border-radius: 0.8rem;
  margin-top: 2rem;
  margin-left: 2.5rem;

  font-family: 'JetBrains Mono', cursive;

  & h1,
  h3 {
    margin-top: 1rem;
    z-index: 3;
    position: relative;
    color: var(--color-white);
  }

  & a {
    font-size: 0.7rem;
  }

  &::before {
    content: '';
    background: linear-gradient(
      130deg,
      #ff7a18,
      #af002d 41.07%,
      #319197 76.05%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 15rem;
    height: 22rem;
    z-index: 1;
    border-radius: 1rem;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 14.6rem;
    height: 21.6rem;
    background: var(--color-primary);
    z-index: 2;
    border-radius: 0.8rem;
  }
}
